extends layout

block content


    div#wrap.hidden-phone
        div.navbar.navbar-fixed-top
            div.container
                ul.nav
                    li
                        a(href="http://www.paulmitchell.edu") paulmitchell.edu
                    span(style="color:white;") &#8226;
                    li
                        a(href="http://directory.paulmitchell.edu") view all Paul Mitchell School locations
        div.container
            div.row-fluid
                div(style="padding-left:45px;")
                    img(src="/images/logo_new.png")

            div.row-fluid.mapback
                div.span12

                    div#map.mapstyle.span10

            div#footer.row-fluid
                div.container
                    p
                        strong Why Choose Paul Mitchell Schools?
                    span Incredible world-wide network &#8226; High income potential &#8226; Financial aid to qualified students

    div#mobileWrap.visible-phone
        div.navbar.navbar-inverse.navbar-fixed-top
            div.navbar-inner
                div.container
                    ul.nav
                        li
                            a(href="http://www.paulmitchell.edu") paulmitchell.edu
                        span(style="color:white;") &#8226;
                        li
                            a(href="http://directory.paulmitchell.edu") view all Paul Mitchell School locations
        div.container
            div.row-fluid
                div.span12(style="color: white;")
                    div.media
                        a.pull-left(href="#")
                            img.media-object(src="/images/logo_new.png")
                        div.media-body
                            h2.media-heading DIRECTORY
            div.row-fluid
                div.span12
                    img(width="100%", src="/images/directorymobile.png");
            div.row-fluid
                div.dropdown
                    select#stateDropdown
                    select#stateSchools
            div.row-fluid
                div.span12
                    img(width="100%", src="/images/statemap.png");
            div#footer.row-fluid
                div.container
                    p
                        strong Why Choose Paul Mitchell Schools?
                    span Incredible world-wide network &#8226; High income potential &#8226; Financial aid to qualified students