doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js")
        script(type="text/javascript", src="/javascripts/base.js")
        script(type="text/javascript", src="/javascripts/bootstrap.min.js")
        script(type="text/javascript", src="http://d3js.org/d3.v3.min.js")
        script(type="text/javascript", src="http://d3js.org/topojson.v1.min.js")
        script(src="/javascripts/lodash.js")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

  body
    block content
    script(type="text/javascript", src="/javascripts/piwik.js")