doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js")
        script(type="text/javascript", src="/javascripts/base.js")
        script(type="text/javascript", src="/javascripts/bootstrap.min.js")
        script(type="text/javascript", src="http://d3js.org/d3.v3.min.js")
        script(type="text/javascript", src="http://d3js.org/topojson.v1.min.js")
        script(src="/javascripts/lodash.js")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="keywords", content="beauty school, cosmetology school, hair school, paul mitchell the school, esthetics school, esthetician school / skin academy, nails school, barbering school")
  body
    block content
    script.
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://analytics.centerhive.com/" : "http://analytics.centerhive.com/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    script.
      try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 6);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
      } catch( err ) {}
