extends layout

block content


    div#wrap
        div.navbar.navbar-inverse.navbar-fixed-top
            div.navbar-inner
                div.container
                    ul.nav
                        li
                            a(href="http://www.paulmitchell.edu") paulmitchell.edu
                        span(style="color:white;") &#8226;
                        li
                            a(href="http://directory.paulmitchell.edu") view all Paul Mitchell School locations
        div.container
            div.row-fluid
                div.span2.offset2
                    img(src="/images/#{logowhite}")
                div.span6(style="color: white;")
                    h1 Paul Mitchell the School
                        br
                        strong DIRECTORY
            div.row-fluid
                div.span4.offset3(style="padding-top:30px")
                    div.alert.alert-success.alert-block
                        h1
                            strong Success!
                        p Thank you for your submission! We will be contacting you soon.

            div#footer.row-fluid
                div.container
                    p Why Choose Paul Mitchell Schools?
                    span Incredible world-wide network &#8226; High income potential &#8226; Financial aid to qualified students
