body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#alert{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #ddd;
    color: #333;
    padding: 5px;
    font-weight: bold;
}

.mapstyle{
    width: 930px; height: 630px;
    padding-top: 300px;
}

.navbar .nav {
    float:none;
    text-align: center;
}
.navbar .nav > li {
    float:none;
    display: inline-block;
}

html,
body {
    height: 100%;
    background-color: #292a2e;
    color: white;
}

#wrap {
    margin: 0 auto -60px;
    background-image: url('/images/direcback.png');
    background-repeat: no-repeat;
    background-position: right;
    max-width: 1160px;
}

#mobileWrap {

    margin: 0 auto -60px;
    margin-top: 90px;
    max-width: 400px;
}

#cosmowrap {
    margin: 0 auto -60px;
    max-width: 1160px;
}

#esteticwrap {
    margin: 0 auto -60px;
    max-width: 1160px;
}

@media (max-width: 767px) {
    #wrap {
        min-height: 700px;
    }
}

@media (min-width: 767px) {
    #push,
    #footer {
        padding-top: 250px;
    }
}

#push,
#footer {
    height: 60px;
    color:white;
    float: none;
    text-align: center;
}

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Override Bootstrap Responsive CSS fixed navbar */
@media (max-width: 767px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        position: fixed;
        margin-left: 0px;
        margin-right: 0px;
    }
}

#wrap > .container {
    padding-top: 60px;
}

@media (min-width: 767px) {
    #cosmowrap > .container {
        padding-top: 60px;
    }
}

@media (min-width: 767px) {
    #esteticwrap > .container {
        padding-top: 60px;
    }
}

@media (max-width: 767px){
    #cosmowrap{
        margin-top: 100px;
    }
    #esteticwrap{
        margin-top:100px;
    }
}

.container .credit {
    margin: 20px 0;
}

code {
    font-size: 80%;
}

.background {
    fill: none;
    pointer-events: all;
}

#states {
    fill: #aaa;
}

#states .active {
    fill: orange;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

path {
    fill: #ccc;
    stroke: #fff;
}

.formField{
    background-color: #116FD4;
    margin-top: 70px;
}

.phonemargin{
    margin-top: 300px;
    background-color: rgba(250,250,250,0.5);
}
.whiteBottom{
    background-color: rgba(250,250,250,0.9);
}
.dropdown{
    margin-top:15px;
    margin-bottom: 15px;
}
.heading{
    text-align: right;
}